
.navbar {
    display: flex;   
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    justify-content: space-between;
    color: black;
    border-color: black;
    border-radius: 5px;
    border-style: double;
    
}

.navbar-brand {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: larger;
}

.navbar-nav {
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: 700;
    margin: 0px 0px 0px 10px;
    word-spacing: 25px;
    text-decoration: none;
}

.nav-item 
{
    color: red;
    border-color: black;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    min-height: 200%;
    background-image: url(https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?size=626&ext=jpg&ga=GA1.1.1451309760.1697818778&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.jumbotron{
    display: grid;
    color: red;
    padding: 15%;
   
    

}

.work {
    border: 5px solid black;
    
}
.card {
    display: inline-flex;
    justify-content: space-between;
    margin: 5%;
    
}

.display-4 {
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.MkmIt-T0t1K9okJSWT3KVgHaE8&pid=Api&P=0&h=180);
    padding: 50px;
    margin: 0px
}
.lead {
    background-image: url( https://tse2.mm.bing.net/th?id=OIP.MkmIt-T0t1K9okJSWT3KVgHaE8&pid=Api&P=0&h=180);
   padding: 50px;
   margin: 0px
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    color: black;
    text-decoration: none;
    
    
}